h1 {
  text-align: center;
}

h2 {
  color: darkgreen;
}

a {
  padding-left: 20px;
  color: black;
  font-size: 30px;
}

img {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
}

/* ordenada */
ol {
  color: blue;
}

/* nao ordenada */
/* ul {
  color: red;
} */
